/*reset de pagina*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 2%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

li {
  list-style: none;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  /*sempre usar max-width: 100% em imagens*/
}

/*reset de pagina*/

aside {
  background-color: #2d3035;
  float: left;
  height: 100vh;
  position: relative;
  width: 300px;

  & h3 {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-size: 26px;
    text-align: center;
  }

  & nav {
    margin-top: 30px;

    & ul {
      & li {
        & a {
          display: inline-block;
          padding: 15px 10px;
          color: #fff;
          width: 100%;
        }
      }

      & i {
        color: #fff;
        margin-right: 12px;
      }

      & li:last-of-type {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      & li:hover {
        background-color: #ffffff86;

        & a>i {
          color: #a200d3;
        }
      }
    }
  }
}

main {
  padding-left: 300px;
  height: 100%;
  width: 100%;

  & header {
    border-bottom: 1px solid #2d30353b;
    height:75px;
    padding: 0 10px;
    width: 100%;

    & .pesquisa {
      float: right;
      margin-top: 17px;
      margin-right: 15px;

      & .icon {
        float: left;

        & i {
          color: #2d3035;
          cursor: pointer;
          font-size: 25px;
          margin-top: 2px;
          vertical-align: middle;
        }

        & input[type="search"] {
          margin-right: 10px;
          float: left;
          padding: 5px;
          transition: width 2s;
          width: 0;
        }
      }

      & .icon:not(.icon:last-of-type) {
        margin-right: 20px;
      }

      & .icon:last-of-type {
        position: relative;
        display: inline-block;

        & span {
          display: none;
          background-color: crimson;
          border-radius: 50%;
          color: #fff;
          font-size: 10px;
          height: 25px;
          position: absolute;
          top: -10px;
          right: -12px;
          padding-top: 8px;
          width: 25px;
          vertical-align: middle;
          text-align: center;
        }
      }


    }
  }

  & .container {
    color: #717172;
    height: calc(100% - 75px);
    width: 100%;


    & .panel {
      background-color: #ebebeb;
      float: left;
      padding: 20px;
      height: 100%;
      width: 70%;
      overflow-y: scroll;

      & h2 {
        
      }

      & p {
        
        font-size: 15px;
        padding-top: 20px;
      }

      & .w100 {
        width: 100%;
        margin-top: 35px;

        & .w100-wrap {
          background-color: #fff;
          border: 3px solid #717172;
          padding: 40px 20px;
          min-height: 250px;
          margin: 0 15px;
          clear: both;


        }

      }

      & .mensagens{
        display: none;
        & .conteudo{
          margin-top: 10px;
          

          & ul{
            & li{
              position: relative;
              border-bottom: 2px solid #717172;
              padding: 10px 0;
              margin: 10px ;
              & span{
                background-color: crimson;
                color: #fff;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                text-align: center;
              }
            }

          }
        }
      }


      & .w50 {
        padding-top: 35px;
        margin-bottom: 35px;
        display: block;
        min-height: 240px;
        float: left;
        width: 50%;
        text-align: center;

        & .w50-wrap {
          background-color: #fff;
          border: 3px solid #717172;
          height: inherit;
          margin: 0 15px;
          padding: 40px 20px;

          & h2 {
            
          }

          & .submit{
            width: 100%;
            & input,
            textarea{
              color: #717172;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              margin-top: 10px;
              padding: 5px 10px;
              width: 100%;
            }

            & textarea{
              height: 150px;
              resize: none;
              overflow-y: scroll;
            }
          }
        }
      }



    }

    & .atualizacoes {
      background-color: #cacaca;
      float: left;
      height: 100%;     
      width: 30%;
      overflow-y: scroll;
      & h2{
        border-bottom: 2px solid #a7a6a6;
        padding: 20px 0;
        text-align: center;
      }

      & .time{
        margin-top: 15px;
        height: 100%;
        position: relative;
        
        & .line-time{
          float: left;
          width: 20%;
          height: inherit;
          
          & .line{
            background-color: #2d3035;
            width: 3px;
            height: 100%;
            position: absolute;
            left: 10%;
            transform: translateX(-50%);
          }
        }

        & .alteracao{
          float: right;
          width: 80%;

          & .conteudo{
            margin-top: 10px;
            border-bottom: 1px solid #a7a6a6;
            padding: 10px 0;
            & span{
              & i{
                position: absolute;
                border-radius: 50%;
                border: 2px solid #2d3035;
                background-color: #2d3035;
                left: 10%;
                transform: translateX(-50%);
                height: 15px;
                width: 15px;
              }
            }

            & h3{
              padding: 10px 0;
            }
          }
        }
      }

    }

  }
}


/*Animação*/
.width {
  width: 150px !important;
  transition: 1s;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: #717172;
  border: 0;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 15px;
}