/*reset de pagina*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
a {
  text-decoration: none;
}
.center {
  padding: 0 2%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

li {
  list-style: none;
}

.clear {
  clear: both;
}
img{
  max-width: 100%; /*sempre usar max-width: 100% em imagens*/
}
/*reset de pagina*/

aside{
  background-color: #2D3035;
  height: 100vh;
  position: relative;
  width: 20%;

  & h3{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-size: 26px;
    text-align: center;
  }


  & nav{
    margin-top: 30px;
    & ul{        
      & li{
        & a{
          display: inline-block;
          padding: 15px 10px;
          color: #fff;
          width: 100%;
        }
      }
      & i{
        color: #fff;
        margin-right: 12px;
      }
      & li:last-of-type{
        position: absolute;
        bottom: 0;
        width: 100%;
      }
 
      & li:hover{
        background-color: #ffffff86;
        & a > i{
          color: #a200d3;
        }
      }
    }
  }

  

}
